
@use "src/styles/colors.scss";

.container {
    border: 1px solid colors.$shapes-border-card;
    border-radius: 2px;
    height: 100%;
    // max-width: 500px;
}

.inputContainer {
    box-sizing: border-box;
    border-bottom: 1px solid colors.$shapes-border-card;
    padding: 8px;
    width: 100%;

    input {
        box-sizing: border-box;
        border: none;
        height: 22px;
        width: 100%;
        &::placeholder {
            color: colors.$writing-placeholder
        }


        &:focus-visible {
            outline: 2px solid #005fcc;
        }
    }
}