@use "src/styles/colors.scss";

.container {
  border: 1px solid colors.$shapes-border-card;
  border-radius: 2px;
  height: 100%;
}

.nodeTree {
  height: calc(100%);
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;

  button {
    text-wrap: nowrap;
  }
}

.nodeSelected {
  background-color: colors.$button-active;
  color: colors.$neutral-white;
  path {
    fill: colors.$neutral-white;
  }
}

.inputContainer {
  box-sizing: border-box;
  border-bottom: 1px solid colors.$shapes-border-card;
  padding: 8px;
  width: 100%;

  input {
    box-sizing: border-box;
    border: none;
    height: 22px;
    user-select: all;
    width: 100%;
    &::placeholder {
      color: colors.$writing-placeholder;
    }

    &:focus-visible {
      outline: 1px solid colors.$accent;
      opacity: 40%;
      border-radius: 2px;
    }
  }
}

.iconContainer {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 22px;
  width: 22px;
}

.statusIcon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.operating {
  path, circle {
    fill: colors.$success !important;
  }
}

.alert {
  path, circle {
    fill: colors.$danger !important;
  }
}
