@use "../../styles/colors.scss";

.textComponent {
  font-family: 'Inter';
  line-height: 24px;

  &.text {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
    
  &.caption {
    font-size: 16px;
    color: colors.$writing-caption;
    font-weight: 400;
    margin: 0;
  }
  
  &.title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;

  }
  
  &.sm { font-size: 14px; }
  &.md { font-size: 16px; }
  &.lg { font-size: 18px; }
  &.xl { font-size: 20px; }
  &.light { font-weight: light; }
  &.normal { font-weight: normal; }
  &.bold { font-weight: bold; }
  &.left { text-align: left; }
  &.center { text-align: center; }
  &.right { text-align: right; }
  &.normalLineHeight { line-height: normal; }
}


