@use "../../../styles/colors.scss";


.container {
  height: 100%;
  min-width: 475px;
}

.icon {
  color: colors.$button-primary
}

.assetInfo {
  flex: 1;
}

.assetTree {
  flex: 0.5;
}

.assetViewContent {
  max-height: calc(100% - 45px);
}
