$header: #17192D;

$neutral-white: #FFFFFF;
$neutral-gray-600: #77818C;
$neutral-gray-950: #24292F;

$blue-50: #F2F8FF;
$blue-400: #55A6FF;
$blue-500: #2188FF;
$blue-900: #023B78;

$danger: #ED3833;
$success: #52C41A;

$primary: $blue-500;

$writing-caption: $neutral-gray-600;
$writing-title: $neutral-gray-950;
$writing-placeholder-disable: #C1C9D2;

$shapes-border-card:#D8DFE6;
$shapes-divider: #E3EAEF;