.flex-component {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  
  &.flex-direction-row { flex-direction: row; }
  &.flex-direction-row-reverse { flex-direction: row-reverse; }
  &.flex-direction-column { flex-direction: column; }
  &.flex-direction-column-reverse { flex-direction: column-reverse; }
  
  &.justify-flex-start { justify-content: flex-start; }
  &.justify-center { justify-content: center; }
  &.justify-flex-end { justify-content: flex-end; }
  &.justify-space-between { justify-content: space-between; }
  &.justify-space-around { justify-content: space-around; }

  &.align-flex-start { align-items: flex-start; }
  &.align-center { align-items: center; }
  &.align-flex-end { align-items: flex-end; }

  &.wrap { flex-wrap: wrap; }
  &.wrap-reverse { flex-wrap: wrap-reverse; }

  &.gap-xs { gap: 4px; }
  &.gap-sm { gap: 8px; }
  &.gap-md { gap: 12px; }
  &.gap-lg { gap: 16px; }
  &.gap-xl { gap: 24px; }

  &.padding-xs { padding: 4px; }
  &.padding-sm { padding: 8px; }
  &.padding-md { padding: 12px; }
  &.padding-lg { padding: 16px; }
  &.padding-xl { padding: 24px; }
  
  &.padding-top-sm { padding-top: 8px; }
  &.padding-bottom-sm { padding-bottom: 8px; }

  &.fluid { width: 100%; }
  &.fluidH { height: 100%; }
  
}
